---
import Layout from "./Layout.astro";
import Header from "@/components/partials/Header.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Header />
  <div class="container mx-auto p-5 md:px-12 lg:px-20">
    <slot />
  </div>
</Layout>
