---
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props.content;
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="container mx-auto p-0 md:py-12">
    <article
      class="prose prose-slate dark:prose-invert max-w-screen-md mx-auto"
    >
      <h1>{title}</h1>

      <slot />
    </article>
  </div>
</Layout>
