---
import "@fontsource/indie-flower";
import Header from "@/components/partials/Header.svelte";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;

const socialImageURL = new URL("/twitter.png", Astro.url).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={keywords} />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <SEO
      title={title}
      description={description}
      twitter={{
        card: "summary_large_image",
        site: "@lunanotesapp",
        creator: "@jfdelarosa",
      }}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: socialImageURL,
        },
        image: {
          alt: "LunaNotes - Take notes on YouTube",
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: socialImageURL,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  </head>
  <body>
    <Header />

    <slot />

    <script>
      import splitbee from "@splitbee/web";

      splitbee.init({
        token: import.meta.env.PUBLIC_SPLITBEE_TOKEN,
      });
    </script>
  </body>
</html>
